# Entorno virtual (Pesado y no se debe subir)
venv/
env/
ENV/
.venv/
# Archivos ocultos del sistema operativo
.DS_Store
Thumbs.db

# Caché de Python
__pycache__/
*.pyc

# Archivos con contraseñas o llaves secretas
.env
instance/