{% extends 'base.html' %}

{% block title %}Arduino - Taller de Computación{% endblock %}

{% block content %}
<div class="bg-white p-4 rounded shadow-sm mb-4">
    <h2 class="text-primary fw-bold">🤖 Arduino Uno</h2>
    <p class="lead text-muted">Programación orientada al hardware, la electrónica y la robótica educativa.</p>
    <hr>

    <div class="row g-4 align-items-center">
        <div class="col-12 col-md-7">
            <h4 class="fw-bold">El puente entre el código y el mundo físico</h4>
            <p>En este bloque del taller aprenderemos cómo transferir nuestras estructuras lógicas de programación a componentes electrónicos reales. Controlaremos sensores de temperatura, luces LED, motores y pantallas.</p>
        </div>
        <div class="col-12 col-md-5">
            <div class="bg-dark text-white p-4 rounded text-center">
                <h3 class="fw-bold mb-1">🔌 IDE</h3>
                <p class="small text-light mb-0">Usaremos el entorno oficial de Arduino para escribir en C++ y compilar el código hacia la placa.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}