{% extends 'base.html' %}

{% block title %}Flask - Taller de Computación{% endblock %}

{% block content %}
<div class="bg-white p-4 rounded shadow-sm mb-4">
    <h2 class="text-primary fw-bold">🌶️ Framework Flask</h2>
    <p class="lead text-muted">Introducción al desarrollo Backend con Python.</p>
    <hr>

    <p>Flask nos permite conectar el diseño web que hicimos con HTML y CSS a la lógica potente de Python. Con esto crearemos servidores funcionales que procesan datos del lado del servidor.</p>

    <div class="card border-primary mb-3">
        <div class="card-header bg-primary text-white fw-bold">Próxima meta del proyecto</div>
        <div class="card-body text-primary">
            <p class="card-text text-dark">Más adelante, utilizaremos este apartado para conectar una base de datos. Esto nos permitirá registrar la asistencia diaria y armar el sistema de evaluaciones interactivas para el aula.</p>
        </div>
    </div>
</div>
{% endblock %}