{% extends 'base.html' %}

{% block title %}Ofimática - Taller de Computación{% endblock %}

{% block content %}
<div class="bg-white p-4 rounded shadow-sm">
    <h2>Módulo: Ofimática</h2>
    <hr>
    <p>Aquí puedes colocar el texto informativo de la materia, enlaces a documentos de descarga o tareas.</p>
    
    <div class="alert alert-info" role="alert">
        <strong>Próxima entrega:</strong> Trabajo Práctico N°1 - Planillas de Excel (Fecha límite: Próxima semana).
    </div>
</div>
{% endblock %}